.mydiv{
    background-image: url('../image/myimage.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.inner-div{
    position: absolute;
    inset: 0;
    background-color: rgba(89, 91, 89, 0.589);
}

.mydiv h1{
    color: white;
    padding-top: 35px;
}